body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
     background-color: #BFEAF5;
     padding-top: 120px;
}

h1{
  margin-top: 0;
  font-family: 'Sacramento';
font-size:50px;
color: #181D31;
line-height: 2;
}

h2{  font-family: 'Sacramento';
font-size: 2.5rem;
color: #181D31;
}

h3{
  font-size: 30px;
}

.top-container{
  position: relative;
padding-top: 100px;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.mount{
  padding-top: 40px;
}

.bot-cloud {
  position: absolute;
}

  .profile{
    padding-top: 80px;
  }

 .skills-row{
 padding-right:50px;
}

.bottom-container{
  font-size: 20px;
}

.paint{
  margin-top: 50px;
  position: absolute;
  left: 500px;
}

.code{
  margin-top: 100px;
  position: absolute;
right: 500px;
}
